.scroll_top{
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius:50% ;
    border: 2px solid #2a1454;
    width: 45px;
    height: 45px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8750f7;
    font-size: 18px;
    opacity: 0;
    transition: .4s;
}
.scroll_top:hover{
   border: 2px solid #8750f7; 
   color: #8750f7;
}
.showScroll {
    opacity: 1;
  }