.footer{
    display: flex;
    flex-direction: column; 
    padding: 80px;
    @media(max-width:760px){
        padding: 40px;
    }
    .pages__navigations nav{
       display: flex;
       margin-bottom: 30px;
       gap: 35px;
       justify-content: center;
       font-size: 15px;
       color: #DDDDDD;
       transition: .4s;
       cursor: pointer;
       li:hover{
        color:#8750f7 ;
       }

       @media(max-width:500px){
        font-size: 12px;
        gap: 10px;
       }
    }
    .social__links{
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        gap: 20px;
        div{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-image: linear-gradient(161deg, #2a1454 0%, #8750f7 100%);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .6s ease;   
            a{     
                display: flex;
                justify-content: center;
                align-items: center;   
                color: #fff;
                font-size: 22px;
                cursor: pointer;
                
            }
            
        }
        div:hover{
            transform: rotate(360deg);
            a{
                color: #fff;
            }

        }
    }
    p{
        text-align: center;
        color:#8750f7 ;
        font-size: 15px;
        @media(max-width:460px)
        {
            font-size: 12px;
        }
    }
}